.form-signin, .form-menu,.form-deposit, .form-withdraw,.form-thanks, #displaybalance {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
body{background-color: rgb(131, 100, 100);}
h1,h2{background-color:#FFFFFF;
opacity: 0.6;
text-align: center;
font-size: 40px;
}

